# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
**/.factorypath
**/.classpath
**/.settings
**/.project
**/*.class
**/bin
**/build
**/dist
test.json
**/*.log
*.log
tmp
test.*
